In [17]:
import pandas as pd

In [18]:
taxi_trip_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'

In [19]:
taxi_trip = pd.read_parquet(taxi_trip_url)

In [26]:
taxi_trip.head(0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge, cbd_congestion_fee]
Index: []

[0 rows x 21 columns]

In [22]:
# Display the first few rows of the DataFrame
print(taxi_trip.head())

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2025-11-01 00:34:48   2025-11-01 00:41:39                  N
1         2  2025-11-01 00:18:52   2025-11-01 00:24:27                  N
2         2  2025-11-01 01:03:14   2025-11-01 01:15:24                  N
3         2  2025-11-01 00:10:57   2025-11-01 00:24:53                  N
4         1  2025-11-01 00:03:48   2025-11-01 00:19:38                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            74            42              1.0           0.74
1         1.0            74            42              2.0           0.95
2         1.0            83           160              1.0           2.19
3         1.0           166           127              1.0           5.44
4         1.0           166           262              1.0           3.20

   fare_amount  ...  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0          7.2  ...      0.5        1.94           0.0        NaN
1          7.2  ...      0.5        0.00           0.0        NaN
2         13.5  ...      0.5        5.00           0.0        NaN
3         24.7  ...      0.5        0.50           0.0        NaN
4         18.4  ...      1.5        1.00           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    1.0         11.64           1.0        1.0
1                    1.0          9.70           2.0        1.0
2                    1.0         21.00           1.0        1.0
3                    1.0         27.70           1.0        1.0
4                    1.0         24.65           1.0        1.0

   congestion_surcharge  cbd_congestion_fee
0                  0.00                 0.0
1                  0.00                 0.0
2                  0.00                 0.0
3                  0.00                 0.0
4                  2.75                 0.0

[5 rows x 21 columns]

In [28]:
taxi_trip['lpep_pickup_datetime']

0       2025-11-01 00:34:48
1       2025-11-01 00:18:52
2       2025-11-01 01:03:14
3       2025-11-01 00:10:57
4       2025-11-01 00:03:48
                ...
46907   2025-11-30 19:58:34
46908   2025-11-30 19:34:00
46909   2025-11-30 21:46:46
46910   2025-11-30 21:00:00
46911   2025-11-30 23:26:00
Name: lpep_pickup_datetime, Length: 46912, dtype: datetime64[us]

In [32]:
count = taxi_trip.loc[
    (taxi_trip["lpep_pickup_datetime"].dt.year == 2025) &
    (taxi_trip["lpep_pickup_datetime"].dt.month == 11) &
    (taxi_trip["trip_distance"] <= 1)
].shape[0]

count

8007

In [34]:
taxi_trip_100 = taxi_trip.loc[taxi_trip["trip_distance"] < 100].copy()
taxi_trip_100

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,None,NaN,59,51,NaN,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,NaN,NaN,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,None,NaN,74,151,NaN,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,NaN,NaN,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,None,NaN,33,163,NaN,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,NaN,NaN,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,None,NaN,16,95,NaN,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,NaN,NaN,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,None,NaN,65,87,NaN,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,NaN,NaN,NaN,0.75

In [36]:
count = taxi_trip.loc[
    taxi_trip["lpep_pickup_datetime"].between("2025-11-01", "2025-12-01", inclusive="left") &
    (taxi_trip["trip_distance"] <= 1)
].shape[0]

count

8007

In [37]:
# Filter trips to exclude outliers/data errors
taxi_trip_100 = taxi_trip.loc[taxi_trip["trip_distance"] < 100].copy()

# Extract pickup day (date only)
taxi_trip_100["pickup_day"] = taxi_trip_100["lpep_pickup_datetime"].dt.date

# Calculate total trip distance per pickup day
daily_total_distance = taxi_trip_100.groupby("pickup_day")["trip_distance"].sum()

# Pickup day with the longest total trip distance
pickup_day_longest = daily_total_distance.idxmax()
longest_total_distance = daily_total_distance.max()

pickup_day_longest, longest_total_distance

(datetime.date(2025, 11, 20), np.float64(6377.03))

In [39]:
zones_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'
zones = pd.read_csv(zones_url)
zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [44]:
# Ensure pickup datetime is in datetime format
taxi_trip["lpep_pickup_datetime"] = pd.to_datetime(taxi_trip["lpep_pickup_datetime"])

# Filter trips on November 18th, 2025 (inclusive start, exclusive end)
taxi_1118 = taxi_trip.loc[
    taxi_trip["lpep_pickup_datetime"].between("2025-11-18", "2025-11-19", inclusive="left")
].copy()

# Join with zone lookup to get pickup zone details
taxi_1118_zone = taxi_1118.merge(
    zones,
    left_on="PULocationID",
    right_on="LocationID",
    how="left"
)

# Remove trips with unknown / missing pickup zones
taxi_1118_zone = taxi_1118_zone.dropna(subset=["Zone"])

# Sum total_amount by pickup zone and sort descending
pickup_zone_sum = (
    taxi_1118_zone.groupby(["Borough", "Zone"])["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

# Pickup zone with the largest total_amount
pickup_zone_sum.head(1)

Borough    Zone
Manhattan  East Harlem North    9281.92
Name: total_amount, dtype: float64

In [47]:
# Convert pickup datetime column to datetime
taxi_trip["lpep_pickup_datetime"] = pd.to_datetime(taxi_trip["lpep_pickup_datetime"])

# Filter trips in Nov 2025
taxi_nov_2025 = taxi_trip.loc[
    taxi_trip["lpep_pickup_datetime"].between("2025-11-01", "2025-12-01", inclusive="left")
].copy()

# Join pickup and dropoff zone names
taxi_nov_2025 = taxi_nov_2025.merge(
    zones.add_prefix("PU_"),
    left_on="PULocationID",
    right_on="PU_LocationID",
    how="left"
).merge(
    zones.add_prefix("DO_"),
    left_on="DOLocationID",
    right_on="DO_LocationID",
    how="left"
)

# Keep only trips picked up in "East Harlem North"
taxi_ehn = taxi_nov_2025.loc[
    taxi_nov_2025["PU_Zone"] == "East Harlem North"
].copy()

# Dropoff zone with the largest single tip
dropoff_tip_max = (
    taxi_ehn.groupby(["DO_Borough", "DO_Zone"])["tip_amount"]
    .max()
    .sort_values(ascending=False)
)

dropoff_tip_max.head(10)

DO_Borough  DO_Zone
Manhattan   Yorkville West                   81.89
Queens      LaGuardia Airport                50.00
Manhattan   East Harlem North                45.00
Queens      Long Island City/Queens Plaza    34.25
            JFK Airport                      23.53
Manhattan   Clinton East                     20.00
            East Harlem South                20.00
EWR         Newark Airport                   20.00
Manhattan   Morningside Heights              20.00
Queens      Queens Village                   18.00
Name: tip_amount, dtype: float64

In [48]:
top_dropoff_zone = dropoff_tip_max.idxmax()[1]  # [1] = zone name
top_dropoff_zone

'Yorkville West'